* {
    box-sizing: border-box;
}

body {
    width: 88.5em;

}

.container {
    width: 100%;

}

header {
    background-color: transparent;
}

section.one {
    max-width: 100%;
    height: 100vh;
    background-color: gray;
    background: url ('images/img1_bg.jpg');
    background-size: cover;


}