* {
    box-sizing: border-box;
    font-family: campaign, sans-serif;
    font-style: normal;
    font-weight: 200;
}

body {
    max-width: 1424px;

}

.container {
    width: 100%;
    align-items: center;
    justify-content: center;
    /* this is a comment reminding me to make more comments so you can follow my code. Really so I can remember what I did the day before*/
}

div.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1.19em;
}

header {
    width: 100%;
    background: transparent;
    height: 0.5em;
}

img.logo {
    width: 50em;
    display: inline-block;
    position: absolute;
    float: right;
    top: 2.1em;
    padding-left: 2.2em
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    writing-mode: vertical-rl;
    padding-top: 9em;

}

a {
    display: inline;
    text-decoration: none;
    padding-top: 9em;
    color: #ff0200;
    padding-left: 102.75em;
    margin-bottom: -5em;
    margin-top: 4em;
    font-family: "Campaign";
    font-weight: 600;
    font-size: 0.85em;
    font-style: oblique;
    text-transform: capitalize;
}

section.one {
    max-width: 100%;
    height: 100vh;
    background: url(../img1_bg.jpg);
    background-attachment: fixed;
    background-size: cover;

    background-color: red;
}

img.stamp {
    display: inline-block;
    width: 58em;
    padding-top: 8.5em;
}

section.two {
    max-width: 100%;
    height: 100vh;
    background: url(../img2_bg.jpg);
    background-color: white;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    border-left: 13em solid white;
    border-top: 6.5em solid white;
    border-bottom: 3.25em solid white;
    /* border-right: 0.5em solid red; */
    margin-left: 4em;
}

div.bottomStack {
    position: absolute;
    left: 3em;
    margin-top: 2em;
    width: 27.2em;
    height: 34.1em;
    background-color: red;
    z-index: 0;
}

div.interiorImage {
    height: 3.2em;
    width: 2.1em;
    background: url(../img6.jpg)
}

h2 {
    float: right;
    background: whitesmoke;
    color: red;
    font-size: 3em;
    font-family: "Campaign";
    font-weight: 200;
    padding-right: 0.3em;
    margin-top: 0.53em;
}

section.three {
    max-width: 100%;
    height: 100vh;
    background: url(../img4_bg.jpg);
    background-attachment: fixed;
    background-repeat: space;
    background-position: cover;
    background-color: white;
    backdrop-filter: blur();
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

blockquote {
    color: red;
    font-weight: 400;
}

cite {
    text-align: right;
}

section.four {
    max-width: 100%;
    height: 100vh;
    background: url(../img3_bg.jpg);
    background-attachment: fixed;
}